*
!.gitignore

!patch_development/
!patch_development/*
!patch_development/*/*
!patch_development/*/*/*
!patch_development/*/*/*/*
!patch_development/*/*/*/*/*

!patch_production_php_5_4/
!patch_production_php_5_4/*
!patch_production_php_5_4/*/*
!patch_production_php_5_4/*/*/*
!patch_production_php_5_4/*/*/*/*
!patch_production_php_5_4/*/*/*/*/*

!patch_production_php_5_5/
!patch_production_php_5_5/*
!patch_production_php_5_5/*/*
!patch_production_php_5_5/*/*/*
!patch_production_php_5_5/*/*/*/*
!patch_production_php_5_5/*/*/*/*/*